[submodule "awesome-wm/.config/awesome/awesome-switcher"]
	path = awesome-wm/.config/awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
[submodule "awesome-wm/.config/awesome/awesome-wm-widgets"]
	path = awesome-wm/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
