[submodule "awesome-wm/.config/awesome/awesome-switcher"]
	path = awesome-wm/.config/awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
[submodule "awesome-wm/.config/awesome/awesome-wm-widgets"]
	path = awesome-wm/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "bash/.local/bash/z"]
	path = bash/.local/bash/z
	url = https://github.com/rupa/z.git
[submodule "polybar/.config/polybar/scripts/polywins"]
	path = polybar/.config/polybar/scripts/polywins
	url = https://github.com/tam-carre/polywins.git
