configuration {
	modi: "window,drun,ssh,combi";
	theme: "~/.config/rofi/themes/slate.rasi";
	font: "Noto Sans 16";
	lines: 10;
	icon-theme: "Papirus";
	show-icons: true;
	combi-modi: "drun,run";
	display-drun: "";
	display-run: "[CMD]";
}
