configuration {
	modi: "window,drun,ssh,combi";
	theme: "~/.config/rofi/themes/slate.rasi";
	icon-theme: "Papirus";
	show-icons: true;
	combi-modi: "drun,run";
	display-drun: "";
	display-run: "[CMD]";
}

theme {
	window {
		width: 512px;
	}

	listview {
		lines: 10;
	}
}
