configuration {
	modi: "window,drun,ssh,combi";
	icon-theme: "Papirus";
	show-icons: true;
	combi-modi: "drun,run";
	display-drun: "";
	display-run: "[CMD]";
}

@theme "~/.config/rofi/themes/slate.rasi"

