/fish_variables

/functions/_tide*
/functions/tide.fish
/functions/tide/
/functions/fisher.fish
/functions/fish_mode_prompt.fish
/functions/fish_prompt.fish
/functions/fish_right_prompt.fish

/conf.d/_tide_init.fish

/completions/fisher.fish
/completions/tide.fish
