# Stop screen from going blank
xset s off
xset -dpms
xset s noblank


# Faster key repeat and delay
# xset r rate 210 40


# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct


# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share


# remap caps to escape
setxkbmap -option caps:escape
# swap escape and caps
# setxkbmap -option caps:swapescape
